.recipeCard {
  width: 20%;
  height: 20%;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.recipeCard img {
  width: 150px;
  height: 150px;
}

.recipeCard p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
